.h {
    display: flex;
    height: 100vh;
    margin-top: 50px;
}

.h-left {
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.h-right {
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    /* position: relative; */
}

.h-left-wrapper {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.h-intro {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.h-name {
    font-size: 60px;
}

.h-title {
    height: 50px;
    overflow: hidden;
}

.h-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.h-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: aqua;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-desc {
    font-size: 13px;
    padding: 7px;
    text-align: center;
}

.h-img {
    height: auto;
    width: auto;
    position: absolute;
    border-radius: 50%;
    margin-top: 60px;
    display: flex;
}

.h-bg {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: aqua;
    display: flex;

}

@media (max-width: 768px){
    .h-bg {
        display: none;
    }

    .h-img {
        display: none;
    }
}
